*{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
}
html{
    font-size:10px;
    background:url('./background.jpg') bottom center no-repeat;
    background-size:cover;
}
.sound{
    font-size:10px;
    line-height:1;
}
.all{
    display:flex;
    min-height: 100vh; 
    align-items:center;
    justify-content:center;
}
.word{
    border:.4rem solid black;
    margin : 1rem;
    font-size:1.5rem;
    padding:1rem 0.5rem;
    width:10rem;
    text-align:center;
    color:white;
    background:rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}
.word h1{
    display:block;
    font-size:4rem;
}
.key sound{
    font-size:1.2rem;
    text-transform:uppercase;
    letter-spacing:.5rem;
    color:#ffc009;
}
.playing{
    transform: scale(1.5);
    box-shadow:0 0 1rem #ffc009;
    border-color:#ffc009;
}